<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to Freecyclable!
      </h1>
      <h2 class="subtitle">
        The free marketplace for recycling your unwanted things.
      </h2>
    </div>
  </div>
</section>
